<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <form>
        <p>Chọn loại thẻ</p>
        <input type="radio" id="Viettel" name="card" value="Viettel">
        <label for="Viettel">Viettel</label><br>
        <input type="radio" id="Vinaphone" name="card" value="Vinaphone">
        <label for="Vinaphone">Vinaphone</label><br>
        <input type="radio" id="Mobifone" name="card" value="Mobifone">
        <label for="Mobifone">Mobifone</label><br>
        <input type="radio" id="VietnamMobile" name="card" value="VietnamMobile">
        <label for="VietnamMobile">VietnamMobile</label><br>
        <input type="radio" id="Vcoin" name="card" value="Vcoin">
        <label for="Vcoin">Thẻ Vcoin</label><br>
        <input type="radio" id="Zing" name="card" value="Zing">
        <label for="Zing">Thẻ Zing</label><br>
        <input type="radio" id="Gate" name="card" value="Gate">
        <label for="Gate">Thẻ Gate</label><br>
        <input type="radio" id="Garena" name="card" value="Garena">
        <label for="Garena">Thẻ Garena</label><br>
    
        <p>Chọn mệnh giá</p>

        <input type="radio" id="10k" name="price" value="10000">
        <label for="10k">10k</label><br>
        <input type="radio" id="20k" name="price" value="20000">
        <label for="20k">20k</label><br>
        <input type="radio" id="50k" name="price" value="50000">
        <label for="30k">50k</label><br>
        <input type="radio" id="100k" name="price" value="100000">
        <label for="100k">100k</label><br>
        <input type="radio" id="200k" name="price" value="200000">
        <label for="200k">200k</label><br>
        <input type="radio" id="500k" name="price" value="500000">
        <label for="500k">500k</label><br>
        

        <p>Nhập thông tin nạp thẻ tại đây</p>
        
            <input type="text" id="seri" placeholder="Mã seri"> 
            <br/>
            <input type="text" id="mathe" placeholder="Mã thẻ cào">
            <br/>
            <input type="submit" value="nạp">
        </form>

        <p id="message"></p>

        <script src="/js/cardscript.js"></script>
    </body>
</html>